{% extends 'base.html' %}
{% block head %}
    




{% for post in posts %}
<div class="container my-3">
    <form action="/edit-posts/{{'-'.join(post.post_title.split(' '))}}/update" method="POST">
        <h3>Edit Post</h3>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" id="exampleFormControlInput1" placeholder="My Tasks" maxlength="75" value="{{post.post_title}}">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Post</label>
            <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3" placeholder="My Description">{{post.post_description}}</textarea>
        </div>
        <button type="submit" class="btn btn-outline-dark">Update Post</button>
    </form>
</div>
{% endfor %}
{% endblock head %}